
\.minecraft/logs/
\server/
\.minecraft/reports/
\.minecraft/saves/
\.minecraft/journeymap/

*.log

\.minecraft/\.mixin\.out/audit/mixin_implementation_report\.txt

\.minecraft/config/brandon3055/contributors\.json

natives/

\.minecraft/crash-reports/

\.minecraft/usercache\.json

server-old/

\.minecraft/stall-reports/

\.minecraft/backups/

compile/
